<%- include('../includes/header.ejs',{
    pageTitle: `404 | Digital Manipur`, 
    keywords: [ 'Digital Marketing', 'Digital Manipur', 'Digital Imphal', 'Digital India', 'Digital North East', 'Manipur Marketing', 'Imphal Marketing', 'Digital News', 'Digital Media', 'SEO', 'Facebook Marketing', 'Youtube Marketing', 'Promotion Page', 'Hoarding Ad', 'LED Ad', 'Local Poromotion','Digital Manipur','Manipur.info','Leibaklei infotech'],
    author: 'Digital Manipur, Manipur Info',
    description: `Digital Manipur, known as the Leading Local Search Engine, acts as a bridge between Buyers and Sellers. Digital Manipur provides information about any products or services to customers. Digital Manipur is present online services which helps your business grow to the next level!`,

}) %>
</head>

<body>

    <%- include('../includes/navBar.ejs' ) %>
    <div class="container">
        <div class="row p-3 d-flex flex-row justify-content-around  bg-white my-5 rounded" style="
    min-height: 400px;
    text-align:center;">
            <div class="col-xs-11 col-md-4  p-4">
                <img src="/assets/img/404.png" alt="" width="100%">
            </div>
            <div class="col-xs-11 col-md-4 p-4 d-flex flex-column justify-content-center">
                <h4>Page doesn't exist</h3>
                <p style="line-height: 1.2;" class="font-weight-normal">This is a 404 page and we think it's fairly clear
                    You aren't going to find what you're looking for here
                    , so don't fret or rage
                    Hit that big red button to go back to our homepage</p>
                    <div>
                        <a href="/" class="btn  btn-danger btn-inline">Back to Home</a>

                    </div>
            </div>

        </div>
    </div>
    <%- include('../includes/footer.ejs') %>
</body>

</html>