<%- include('../includes/header.ejs',{ 
    pageTitle: 'Claim Listing',
    keywords: ['business claim','onwer claim','listing'] , 
    author: 'Digtal Manipur',
    description: `Claim your listing in Digital Manipur`
 }) %>
<link rel="stylesheet" href="/assets/css/claim.css">
</head>

<body>
    <%- include('./../includes/site/header') %>
    <section>
        <div class="container">
            <div class="my-3 path"><a href="/">Home</a><span>&gt;</span><a href="#">About us</a></div>
            <div class="col mt-3 cus-panel px-0 rounded bg-white">
                <div class="bg-img claim-img-lanscape"
                    style="background-image: url('/assets/img/bgparallax-06.jpg'); min-height: 200px;"></div>
                <div class="row d-flex flex-column align-items-center my-5">
                    <div class="col-sm-12 col-xs-12 col-md-7 px-5">
                        <div class="text-center " style="font-size: 30px; font-weight: light;">Who Are We?</div>
                        <p class="text-center my-3">
                            Leibak Information Technology, also known as Digital Manipur, is a multi-service IT company founded in 2017 located in Khurai Thoudingjam Leikai, Lamlong, Imphal East, Manipur. Digital Manipur focuses on bringing businesses and customers in the state together to create a system that both of them have easy and reliable access to one another.
                        </p>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-7 px-5">
                        <div class="text-center " style="font-size: 30px; font-weight: light;">
                            Our Services
                        </div>
                        <p class="text-center my-3">
                            Digital Manipur has many services in Information Technology sectors that include www.manipurinfo.com, the leading Local Search Engine of Manipur, Web and Software Development: We will help you develop Websites, Apps, Software for different purposes across various industries. Digital Advertising: We will advertise your Business on our Website so that more people can see your Stores, Shops, Institutes, etc. Digital Billboards: We will advertise your business on our digital billboards and show your ads. Hoardig Advertisement: We will set up hoarding Advertisements for you on the roads of the city.
                        </p>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-7 px-5">
                        <div class="text-center " style="font-size: 30px; font-weight: light;">
                            Where Are We?
                        </div>
                        <p class="text-center my-3">
                            The office of Leibak Information Technology is located in Khurai Thoudingjam Leikai, Lamlong, Imphal East, Manipur.
                        </p>
                    </div>
                </div>
            </div>

           



            
        </div>
    </section>


 


    <%- include('../includes/footer.ejs') %>


</body>

</html>