<%- include('../includes/header.ejs',{ 
    keywords: ['Privacy policy','digital manipur'] , 
    author: 'Digtal Manipur',
    description: `Privacy policy `
 }) %>
<link rel="stylesheet" href="/assets/css/claim.css">
</head>

<body>
    <%- include('./../includes/site/header') %>
    <section>
        <div class="container">

            <!-- page path -->
            <div class="my-3 path small"><a href="/">Home</a><span class="mx-2">&gt;</span><a >Privacy Policy</a></div>
            
            
            <!-- main content -->
            <div class="main-content bg-white p-5">
                <h3 class="text-center  text-underline">Privacy Policy for Digital Manipur
                    
                </h3>
                <hr class=" mt-4">
                <section class="py-3">
                    <p>At Digital Manipur, accessible from www.manipurinfo.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Digital Manipur and how we use it.</p>
                    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Digital Manipur. This policy is not applicable to any information collected offline or via channels other than this website.</p>
                </section>
                <section class="py-3">
                    <h5>Consent</h5>
                    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                    <h5>Information we collect</h5>
                    <p>
                        The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
                    </p>
                    <p>
                        If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
                    </p>
                    <p>
                        When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
                    </p>

                </section>
                <section class="py-3"> 
                    <h5>How we use your information</h5>
                    <p>
                        We use the information we collect in various ways, including to:
                    </p>
                    <ul>
                        <li>
                            Provide, operate, and maintain our webste
                        </li>
                        <li>
                            Improve, personalize, and expand our webste

                        </li>
                        <li>
                            Understand and analyze how you use our webste
                        </li>
                        <li>
                            Develop new products, services, features, and functionality
                        </li>
                        <li>
                            Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes
                        </li>
                        <li>
                            Send you emails
                        </li>
                        <li>
                            Find and prevent fraud
                        </li>
                    </ul>
                </section>
                <section class="py-3">
                    <h5>Log Files</h5>
                    <p>Digital Manipur follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. </p>
                </section>
                <section class="py-3">
                    <h5>Cookies and Web Beacons</h5>
                    <p>
                        Like any other website, Digital Manipur uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
                    </p>
                    <p>
                        For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What are cookies"</a>.
                    </p>
                </section>
                <section class="py-3">
                    <h5>Our Advertising Partners</h5>
                    <p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</p>
                    <li>Google - <a class="text-primary" href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></li>
                </section>
                <section class="py-3">
                    <h5>Advertising Partners Privacy Policies</h5>
                    <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Digital Manipur.

                        Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Digital Manipur, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
                        
                        Note that Digital Manipur has no access to or control over these cookies that are used by third-party advertisers.</p>
                </section>
                <section class="py-3">
                    <h5>Third Party Privacy Policies</h5>
                    <p>Digital Manipur's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>
                    <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
                </section>
                <section class="py-3">
                    <h5>CCPA Privacy Rights (Do Not Sell My Personal Information)</h5>
                    <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                    <ul>
                        <li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</li>
                        <li>Request that a business delete any personal data about the consumer that a business has collected.</li>
                        <li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</li>
                        <li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
                    </ul>
                </section>
                <section class="py-3">
                    <h5>GDPR Data Protection Rights</h5>
                    <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
                    <ul>
                        <li>
                            The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.
                        </li>
                        <li>
                            The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
                        </li>
                        <li>
                            The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
                        </li>
                        <li>
                            The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
                        </li>
                        <li>
                            The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
                        </li>
                        <li>
                            The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
                        </li>
                        <li>
                            If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
                        </li>
                    </ul>
                </section>
                <section class="py-3">
                    <h5>Children's Information</h5>
                    <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
                        Digital Manipur does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                    </p>
                </section>
            </div>


          
        </div>
    </section>


    <script>

        $(document).ready(() => {

        });



        const rootDomain =
            `${location.protocol}//${window.location.hostname}${location.port ? ':' + location.port : ''}`;

        // location search
        let timer;
        $("#searchPostsForm input[name='location']").on('keyup', (e) => {
            e.preventDefault();



            const location = $(e.target).val().trim();
            if (location.length > 1) {


                // show loading
                const spinner = `
                <div class="my-1 px-2 loading" style="background-color: white;position: absolute;right: 20px;height: 80%;"> 
                    <div class="spinner-border text-secondary spinner-border-sm "></div>
                </div> 
                `;

                $(e.target).siblings('.loading').remove();
                $(e.target).after(spinner);

                if ( timer ) {
                    clearTimeout(timer);
                }
                timer = setTimeout(() => {
                    
                $.get(`${rootDomain}/search/ajax/location?slocation=${location}`,
                    (data, status) => {
                        console.log({
                            data
                        });

                        if (data && status == 'success') {

                            $(e.target).siblings('.loading').remove();
                            $("#searchPostsForm .location-results").show();

                            // show locations

                            $(e.target).siblings('.location-results').empty();
                            data.forEach(element => {
                                $(e.target).siblings(".location-results").append(
                                    `<li class="list-group-item font-weight-bold " style="font-size: 14px;" >${element}</li>`
                                );
                            });


                        }

                    })

                }, 1500);
                
            } else if ( location.length == 0) {
                // hide loaction result when input is empty 
                $("#searchPostsForm .location-results").empty();
            }

        });

        // listen for click on location search result
        $(document).on("click", "#searchPostsForm .location-results li", (e) => {

            // alert('clicked');
            $("#searchPostsForm .location-results").hide();
            $("#searchPostsForm input[name='name']").focus();
            const val = $(e.target).html().trim();
            $("#searchPostsForm input[name='location']").val(val);

        });

        // show location results when clicked on input
        $("#searchPostsForm input[name='location']").click((e) => {
            $("#searchPostsForm .location-results").show();
        });

        // hide location result when click outside input
        $(document).click((e) => {
            console.log(e.target)
            if (!$("#searchPostsForm input[name='location']").is(e.target) && $(
                    "#searchPostsForm input[name='location']").has(e.target).length === 0) {
                $("#searchPostsForm .location-results").hide();
            }
        });


        // search posts
        let prevSkip = 0;

        function searchPosts(e, skip = 0, total = null) {
            e.preventDefault();

            const location = $("#searchPostsForm input[name='location']").val().trim();
            const name = $("#searchPostsForm input[name='name']").val().trim();

            if (!location) {
                $("#searchPostsForm input[name='location']").focus();
                $("#searchPostsForm input[name='location']").css('border', '1px solid red');
            } else if (!name) {
                $("#searchPostsForm input[name='name']").focus();
                $("#searchPostsForm input[name='name']").css('border', '1px solid red');
                return;
            } else if (name && location) {
                $("#searchPostsForm input[name='location']").css('border', '1px solid lightgrey');
                $("#searchPostsForm input[name='name']").css('border', '1px solid lightgrey');

                // show loading
                const spinner = `
                        <div class="loading" style="height: 100%;"> 
                            <div class="spinner-border text-white spinner-border-sm "></div>
                        </div> 
                `;

                $(e.target).html(spinner);

                // ajax search
                $.get(rootDomain + '/search/ajax?stext=' + name + '&total=' + total + '&skip=' + skip + '&slocation=' +
                        location, (data, status) => {

                            console.log('searching....');
                            if (status == 'success' && data.posts && data.posts.length > 0) {
                                console.log('Result : ', data.length, ' items');
                                console.log('Result : ', data);

                                $("#searchPostsForm .search-result").show();
                                $("#searchQueryPreview").text(name);
                                $("#searchLocationPreview").text(location);

                                if ($(e.target).data('name') == 'search') {
                                    //reset prevSkip
                                    prevSkip = 0;
                                    $("#searchPostsForm .search-result .results").empty();
                                }



                                data.posts.forEach(element => {

                                    let contact = [...element.mobileNumber.map(e =>
                                            `<span class="pl-1">${e.number}</span>`),
                                        ...element.telephoneNumber.map(e =>
                                            `<span class="pl-1">${e.number}</span>`)
                                    ];
                                    contact = contact.toString();

                                    let address;
                                    if (element.address.locality && element.address.locality.name) {
                                        address = element.address.locality.name;
                                    }
                                    if (element.address.district && element.address.district.name) {
                                        if (address) {
                                            address = address + ', ' + element.address.district.name;
                                        } else {
                                            address = element.address.district.name;
                                        }
                                    }

                                    $("#searchPostsForm .search-result .results").append(` 

                                    <li class="list-group-item d-flex">
                                        <div class="col-sm-12 col-xs-12 col-md-8">
                                            <div class="p-2">
                                                <small class="text-secondary item-category">${element.category.id  && element.category.id.name  ? element.category.id.name : ''}</small>
                                                <h6>${element.name}</h6>
                                                <div>
                                                    <i class="far fa-phone-rotary"></i>
                                                    <label for="">${contact ? contact : "Not available"}</label>
                                                </div>
                                                <div class="item-location">
                                                    ${ address ? address : "Not available" }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex col-xs-12 col-sm-12 col-md-4 justify-content-end align-items-center">
                                        ${ element.verified ?
                                        `
                                        <button class="btn btn-outline-danger claim">Already Claimed</button>
                                        `
                                        :
                                        `
                                        <button class="btn btn-outline-success claimed">Claim this listing</button>
                                        `}
                                    </div>
                                        
                                    </li>
              
                                `);
                                });

                                if (prevSkip < data.total && data.total > 7 && (data.total - (prevSkip + 7)) > 0) {

                                    prevSkip = prevSkip + 7;
                                    $("#searchPostsForm .search-result .load-more").remove();
                                    $("#searchPostsForm .search-result .results").after(`
                                        <div class="load-more p-2 ">
                                            <button onclick="searchPosts(event , ${prevSkip} , ${total})" class="form-control btn btn-block text-center btn-secondary">
                                                Load more ${data.total - prevSkip}
                                                </button>
                                            </div>
                                    `);
                                } else {
                                    $("#searchPostsForm .search-result .load-more").remove();
                                }
                            }

                            if ($(e.target).data('name') == 'search') {
                                $(e.target).html('Search');
                            }


                        })
                    .fail(e => {
                        if ($(e.target).data('name') == 'search') {
                            $(e.target).html('Search');
                        }
                        console.log("error : searching posts");
                    });

            }
            return false;
        }

        // show loading on load more
        $(document).on('click', '.load-more button', (e) => {
            const spinner = `
                        <div class="     loading" style=""> 
                            <div class="spinner-border text-white spinner-border-sm "></div>
                        </div> 
                `;
            $(e.target).html(spinner);
            e.preventDefault();
        })
    
    </script>


    <%- include('../includes/footer.ejs') %>


</body>

</html>