<%- include('../includes/header.ejs',{ 
    keywords: ['terms and conditions','terms','conditions'] , 
    author: 'Digtal Manipur',
    description: `Terms and conditions for Digital Manipur`
 }) %>
<link rel="stylesheet" href="/assets/css/claim.css">
</head>

<body>
    <%- include('./../includes/site/header') %>
    <section>
        <div class="container">

            <!-- page path -->
            <div class="my-3 path small"><a href="/">Home</a><span class="mx-2">&gt;</span>
                <a >Terms and Conditions</a></div>
            
            
            <!-- main content -->
            <div class="main-content bg-white p-5">
                <h3 class="text-center  text-underline"><span>Terms and Conditions</span>
                    
                </h3>
                <hr class="py-3 mt-4">
                <p>Welcome to Digital Manipur!</p>
                <p>These terms and conditions outline the rules and regulations for the use of Digital Manipur's Website, located at www.manipurinfo.com.

                </p>
                <p>
                    By accessing this website we assume you accept these terms and conditions. Do not continue to use Digital Manipur if you do not agree to take all of the terms and conditions stated on this page.
                </p>
                <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                
                <section class="py-3">
                    <h5>Cookies</h5>
                    <p>We employ the use of cookies. By accessing Digital Manipur, you agreed to use cookies in agreement with the Digital Manipur's Privacy Policy.</p>
                    <p>
                        Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                    </p>
                </section>
                <section class="py-3"> 
                    <h5>License</h5>
                    <p>
                        Unless otherwise stated, Digital Manipur and/or its licensors own the intellectual property rights for all material on Digital Manipur. All intellectual property rights are reserved. You may access this from Digital Manipur for your own personal use subjected to restrictions set in these terms and conditions.
                    </p>
                    <p>You must not:</p>
                    <ul>
                        <li>
                            Republish material from Digital Manipur
                        </li>
                        <li>
                            Sell, rent or sub-license material from Digital Manipur
                        </li>
                        <li>
                            Reproduce, duplicate or copy material from Digital Manipur
                        </li>
                        <li>
                            Redistribute content from Digital Manipur
                        </li>
                        
                    </ul>
                    <p>This Agreement shall begin on the date hereof.</p>
                    <p>
                        Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Digital Manipur does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Digital Manipur,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Digital Manipur shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                    </p>
                    <p>Digital Manipur reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                    <p>You warrant and represent that:</p>
                    <ul>
                        <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                        <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                        <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                        <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                    </ul>
                    <p>
                        You hereby grant Digital Manipur a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
                    </p>

                </section>
                <section class="py-3">
                    <h5>Hyperlinking to our Content</h5>
                    <p>
                        The following organizations may link to our Website without prior written approval:
                    </p>
                    <ul>
                        <li>Government agencies;</li>
                        <li>Search engines;</li>
                        <li>News organizations;</li>
                        <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                        <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
                        </li>
                    </ul>
                    <p>
                        These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.
                    </p>
                    <p>
                        We may consider and approve other link requests from the following types of organizations:
                    </p>
                    <ul>
                        <li>
                            commonly-known consumer and/or business information sources;
                        </li>
                        <li>
                            dot.com community sites;
                        </li>
                        <li>
                            associations or other groups representing charities;
                        </li>
                        <li>
                            online directory distributors;
                        </li>
                        <li>
                            internet portals;
                        </li>
                        <li>
                            accounting, law and consulting firms; and
                        </li>
                        <li>
                            educational institutions and trade associations.
                        </li>
                    </ul>
                    <p>
                        We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Digital Manipur; and (d) the link is in the context of general resource information.
                    </p>
                    <p>
                        These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
                    </p>
                    <p>
                        If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Digital Manipur. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
                    </p>

                    <p>Approved organizations may hyperlink to our Website as follows:</p>
                    <ul>
                        <li>By use of our corporate name; or</li>
                        <li>By use of the uniform resource locator being linked to; or</li>
                        <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>

                    </ul>
                    <p>No use of Digital Manipur's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                </section>
                <section class="py-3">
                    <h5>iFrames</h5>
                    <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

                </section>
                <section class="py-3">
                    <h5>Content Liability</h5>
                    <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
                </section>
                <section class="py-3">
                    <h5>Your Privacy</h5>
                    <p>Please read  <a class="text-primary" href="/site/privacy">Privacy Policy</a></p>
                </section>
                <section class="py-3">
                    <h5>Reservation of Rights</h5>
                    <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
                </section>
                <section class="py-3">
                    <h5>Removal of links from our website</h5>
                    <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
                    <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
                </section>
                <section class="py-3">
                    <h5>Disclaimer</h5>
                    <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                    <ul>
                        <li>limit or exclude our or your liability for death or personal injury;</li>
                        <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                            </li>
                            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or
                                </li>
                                <li>
                                    exclude any of our or your liabilities that may not be excluded under applicable law.
                                </li>
                                
                    </ul>
                    <p>
                        The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
                    </p>
                    <p>
                        As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
                    </p>
                </section>
                
            </div>


          
        </div>
    </section>


    <script>

        $(document).ready(() => {

        });



        const rootDomain =
            `${location.protocol}//${window.location.hostname}${location.port ? ':' + location.port : ''}`;

        // location search
        let timer;
        $("#searchPostsForm input[name='location']").on('keyup', (e) => {
            e.preventDefault();



            const location = $(e.target).val().trim();
            if (location.length > 1) {


                // show loading
                const spinner = `
                <div class="my-1 px-2 loading" style="background-color: white;position: absolute;right: 20px;height: 80%;"> 
                    <div class="spinner-border text-secondary spinner-border-sm "></div>
                </div> 
                `;

                $(e.target).siblings('.loading').remove();
                $(e.target).after(spinner);

                if ( timer ) {
                    clearTimeout(timer);
                }
                timer = setTimeout(() => {
                    
                $.get(`${rootDomain}/search/ajax/location?slocation=${location}`,
                    (data, status) => {
                        console.log({
                            data
                        });

                        if (data && status == 'success') {

                            $(e.target).siblings('.loading').remove();
                            $("#searchPostsForm .location-results").show();

                            // show locations

                            $(e.target).siblings('.location-results').empty();
                            data.forEach(element => {
                                $(e.target).siblings(".location-results").append(
                                    `<li class="list-group-item font-weight-bold " style="font-size: 14px;" >${element}</li>`
                                );
                            });


                        }

                    })

                }, 1500);
                
            } else if ( location.length == 0) {
                // hide loaction result when input is empty 
                $("#searchPostsForm .location-results").empty();
            }

        });

        // listen for click on location search result
        $(document).on("click", "#searchPostsForm .location-results li", (e) => {

            // alert('clicked');
            $("#searchPostsForm .location-results").hide();
            $("#searchPostsForm input[name='name']").focus();
            const val = $(e.target).html().trim();
            $("#searchPostsForm input[name='location']").val(val);

        });

        // show location results when clicked on input
        $("#searchPostsForm input[name='location']").click((e) => {
            $("#searchPostsForm .location-results").show();
        });

        // hide location result when click outside input
        $(document).click((e) => {
            console.log(e.target)
            if (!$("#searchPostsForm input[name='location']").is(e.target) && $(
                    "#searchPostsForm input[name='location']").has(e.target).length === 0) {
                $("#searchPostsForm .location-results").hide();
            }
        });


        // search posts
        let prevSkip = 0;

        function searchPosts(e, skip = 0, total = null) {
            e.preventDefault();

            const location = $("#searchPostsForm input[name='location']").val().trim();
            const name = $("#searchPostsForm input[name='name']").val().trim();

            if (!location) {
                $("#searchPostsForm input[name='location']").focus();
                $("#searchPostsForm input[name='location']").css('border', '1px solid red');
            } else if (!name) {
                $("#searchPostsForm input[name='name']").focus();
                $("#searchPostsForm input[name='name']").css('border', '1px solid red');
                return;
            } else if (name && location) {
                $("#searchPostsForm input[name='location']").css('border', '1px solid lightgrey');
                $("#searchPostsForm input[name='name']").css('border', '1px solid lightgrey');

                // show loading
                const spinner = `
                        <div class="loading" style="height: 100%;"> 
                            <div class="spinner-border text-white spinner-border-sm "></div>
                        </div> 
                `;

                $(e.target).html(spinner);

                // ajax search
                $.get(rootDomain + '/search/ajax?stext=' + name + '&total=' + total + '&skip=' + skip + '&slocation=' +
                        location, (data, status) => {

                            console.log('searching....');
                            if (status == 'success' && data.posts && data.posts.length > 0) {
                                console.log('Result : ', data.length, ' items');
                                console.log('Result : ', data);

                                $("#searchPostsForm .search-result").show();
                                $("#searchQueryPreview").text(name);
                                $("#searchLocationPreview").text(location);

                                if ($(e.target).data('name') == 'search') {
                                    //reset prevSkip
                                    prevSkip = 0;
                                    $("#searchPostsForm .search-result .results").empty();
                                }



                                data.posts.forEach(element => {

                                    let contact = [...element.mobileNumber.map(e =>
                                            `<span class="pl-1">${e.number}</span>`),
                                        ...element.telephoneNumber.map(e =>
                                            `<span class="pl-1">${e.number}</span>`)
                                    ];
                                    contact = contact.toString();

                                    let address;
                                    if (element.address.locality && element.address.locality.name) {
                                        address = element.address.locality.name;
                                    }
                                    if (element.address.district && element.address.district.name) {
                                        if (address) {
                                            address = address + ', ' + element.address.district.name;
                                        } else {
                                            address = element.address.district.name;
                                        }
                                    }

                                    $("#searchPostsForm .search-result .results").append(` 

                                    <li class="list-group-item d-flex">
                                        <div class="col-sm-12 col-xs-12 col-md-8">
                                            <div class="p-2">
                                                <small class="text-secondary item-category">${element.category.id  && element.category.id.name  ? element.category.id.name : ''}</small>
                                                <h6>${element.name}</h6>
                                                <div>
                                                    <i class="far fa-phone-rotary"></i>
                                                    <label for="">${contact ? contact : "Not available"}</label>
                                                </div>
                                                <div class="item-location">
                                                    ${ address ? address : "Not available" }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex col-xs-12 col-sm-12 col-md-4 justify-content-end align-items-center">
                                        ${ element.verified ?
                                        `
                                        <button class="btn btn-outline-danger claim">Already Claimed</button>
                                        `
                                        :
                                        `
                                        <button class="btn btn-outline-success claimed">Claim this listing</button>
                                        `}
                                    </div>
                                        
                                    </li>
              
                                `);
                                });

                                if (prevSkip < data.total && data.total > 7 && (data.total - (prevSkip + 7)) > 0) {

                                    prevSkip = prevSkip + 7;
                                    $("#searchPostsForm .search-result .load-more").remove();
                                    $("#searchPostsForm .search-result .results").after(`
                                        <div class="load-more p-2 ">
                                            <button onclick="searchPosts(event , ${prevSkip} , ${total})" class="form-control btn btn-block text-center btn-secondary">
                                                Load more ${data.total - prevSkip}
                                                </button>
                                            </div>
                                    `);
                                } else {
                                    $("#searchPostsForm .search-result .load-more").remove();
                                }
                            }

                            if ($(e.target).data('name') == 'search') {
                                $(e.target).html('Search');
                            }


                        })
                    .fail(e => {
                        if ($(e.target).data('name') == 'search') {
                            $(e.target).html('Search');
                        }
                        console.log("error : searching posts");
                    });

            }
            return false;
        }

        // show loading on load more
        $(document).on('click', '.load-more button', (e) => {
            const spinner = `
                        <div class="     loading" style=""> 
                            <div class="spinner-border text-white spinner-border-sm "></div>
                        </div> 
                `;
            $(e.target).html(spinner);
            e.preventDefault();
        })
    
    </script>


    <%- include('../includes/footer.ejs') %>


</body>

</html>