<div class="d-flex flex-row justify-content-center alert-container"
style=" position: fixed; top: 30px; width: 100%; height: auto; z-index: 999999;">
<div class="col-6 " style="z-index: 1; font-size: 22px;">
    <div class="alert alert-success alert-dismissible" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong class="mr-3">Success!</strong> <span class="message"></span>
    </div>

    <div class="alert alert-info alert-dismissible" style="display: none;;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong class="mr-3">Info!</strong> <span class="message"></span>
    </div>

    <div class="alert alert-danger alert-dismissible" style="display: none;;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong class="mr-3">Error!</strong> <span class="message"></span>
    </div>
</div>

</div>