<nav class="navbar navbar-light navbar-expand-md navigation-clean m-hide" style="padding: 0px;">
    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                class="sr-only">Toggle navigation</span><i class="icon ion-android-menu"></i></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="width: 100%;font-size: 14px;color: #33373D;">
                <li class="nav-item mr-auto" role="presentation" style="margin-left: -30px;">
                    <a class="nav-link " href="/site/mobile-app" style="cursor: pointer;">
                        <i class="fas fa-mobile-alt"></i>&nbsp;Get the App</a>
                </li>
                <!-- <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/product">
                        <i class="fa fa-archive mr-2"></i>Product</a>
                </li> -->
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/product">
                        <i class="fa fa-archive mr-2"></i>DM Marketplace</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/site/claim-listing">
                        <i class="far fa-comment-alt-edit mr-2"></i>Claim Listing</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/site/promote">
                        <i class="fas fa-ad mr-2"></i>Advertisement</a>
                </li>
                <li class="nav-item" role="presentation" style="margin-right: -30px;">
                    <a class="nav-link" href="/site/add-listing">
                        <i class="far fa-list-alt mr-2"></i>Add Listing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>