<!-- shortcut bar -->
<nav class="shortcutBarMobile">
    <div class="row d-flex justify-content-around">
        <div class="nav-item">
            <a class="nav-link" href="#app-referral-container" style="text-align:left">
                <i class="fad fa-mobile-alt" style="--fa-primary-color: tomato; --fa-secondary-color: black ;" aria-hidden="true"></i>
                Get the App
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">
                <i class="fad fa-hotel" style="--fa-primary-color: dimgray; --fa-secondary-color: gold ;"></i>
                Find Hotel
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">
                <i class="fad fa-hospital-symbol" style="--fa-primary-color: dimgray; --fa-secondary-color: limegreen ;"></i>
                Find Hospital
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">
                <i class="fad fa-utensils" style="--fa-primary-color: rgb(243, 141, 32); --fa-secondary-color: rgb(70, 75, 61) ;"></i>
                Find restaurant
            </a>
        </div>
    </div>
</nav>